#map {
	width: 100%;
	height: 700px;
	margin: 0;
	padding: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background: black;
	color: white;
}

.leaflet-popup-content-wrapper {
	border-radius: 0;
	text-align: center;
}

.leaflet-popup-content {
	width: 25px;
}