html, body, .container, #map, .container {
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
}

.container {
	padding: 10px;
}
#map, .col-md-3, .col-md-9, .row{
	padding: 0;
	margin: 0;
}
.col-md-3 {
	padding-right: 10px;
}
.col-md-9, .col-md-3, .row {
	height: 100%;
}
/*.main-content {
	bottom: 30px;
}*/
.footer {
	bottom: 0;
	position: absolute;
	background-color: white;
	z-index: 1000;
}
/*.col-md-9, .col-md-3 {
	padding: 10px;
}*/